/* @CHARSET "ISO-8859-1";*/

*
{
	margin: 10px;
	font-family: serif;
}

#header
{
	background-color: rgb(28, 98, 110);
	font-size: 20pt;
    color: rgb(255, 255, 255);
    position: relative;
    top: 20px;
    text-align: left;
    display:inline-block;
}

table
{
    border: 5px solid orange;
    padding: 3px;
}

#menu 
{
    border-style: solid;
    border-color: black;
	word-spacing: 10em;
	font-size: 10pt;
    background-color: azure;
    width: 200px;
    height: 25px;
}

#content
{
    position: relative;
	font-size: 30pt;
    height: auto;
    width: 100%;
    float: right;
    min-height: 100%;
	text-align: center;
    background-color: antiquewhite;
	left: 255px;
	top: 140px;
}


#footer 
{
	position: fixed;
	bottom: 0px;
    background-color: azure;
    color: black;
    clear: both;
    text-align: center;
    padding: 20px;
    width: 100%;
}
